.git
.github
.next
node_modules
npm-debug.log*
docs
tests
**/*.csv
**/*.pdf
tsconfig.tsbuildinfo
lint_output.txt
output.txt
# Exclude all Markdown docs — Next.js doesn't import any at runtime.
**/*.md
**/*.MD
